<header>
    <div class="container">
      <h1>Online school</h1>
      <nav>
        <ul>
          <li><a routerLink="/list">Beer</a></li>
          <li><a href="#">Главная</a></li>
          <li><a routerLink="/login">login</a></li>
          <li><a routerLink="/about">О нас</a></li>
          <li><a routerLink="/courses">Курсы</a></li>
          <li><a routerLink="/spa-body">spa</a></li>
          <li><a routerLink="/filters">filters</a></li>
        </ul>
      </nav>
    </div>
</header>
  
<main>
    <router-outlet></router-outlet>
</main>
  