<!-- <section class="about-section">
    <div class="container">
      <h2>О нас</h2>
      <p>Добро пожаловать на нашу онлайн школу! Мы предлагаем широкий спектр курсов по программированию и разработке веб-приложений.</p>
      <p>Наша миссия - помочь студентам освоить современные технологии и получить практические навыки, необходимые для успешной карьеры в IT-индустрии.</p>
      <p>Мы гордимся нашим опытным преподавательским составом и индивидуальным подходом к каждому студенту. Присоединяйтесь к нам и начните свой путь к успеху в сфере программирования!</p>
    </div>
  </section>
   -->
   <!-- <table>
    <tr *ngFor="let client of clients">
      <td>Name: {{client.name}}</td>

      <td>Age: {{client.age}}</td>
    </tr>
  </table> -->

  <h1>Names from API:</h1>
  <ul>
    <li *ngFor="let name of names">{{ name }}</li>
  </ul>
<!-- </div> -->
  
   