<section class="courses">
    <div class="container">
      <h2 class="courses__title">Наши курсы</h2>
      <div class="courses__list">
        <div class="course">
          <img src="course1.jpg" alt="Course 1" class="course__image">
          <h3 class="course__title">Курс 1</h3>
          <p class="course__description">Описание курса 1</p>
          <a href="#" class="course__cta">Узнать больше</a>
        </div>
        <div class="course">
          <img src="course2.jpg" alt="Course 2" class="course__image">
          <h3 class="course__title">Курс 2</h3>
          <p class="course__description">Описание курса 2</p>
          <a href="#" class="course__cta">Узнать больше</a>
        </div>
        <div class="course">
          <img src="course3.jpg" alt="Course 3" class="course__image">
          <h3 class="course__title">Курс 3</h3>
          <p class="course__description">Описание курса 3</p>
          <a href="#" class="course__cta">Узнать больше</a>
        </div>
      </div>
    </div>
  </section>
  