<p>edit works!</p>
<div>
    <label for="param1">code: </label>
    <input id="param1" [(ngModel)]="param1">
  </div>
  
  <div>
    <label for="param2">name: </label>
    <input id="param2" [(ngModel)]="param2">
  </div>
  
  <div>
    <label for="param3">category: </label>
    <input id="param3" [(ngModel)]="param3">
  </div>

  <div>
    <label for="param4">Quantity: </label>
    <input id="param4" [(ngModel)]="param4">
  </div>
  
  <button (click)="openEditWindow()">Edit in New Window</button>
  